In [1]:
import pandas as pd
import numpy as np

In [2]:
pwd

'C:\\Users\\giris'

In [6]:
df = pd.read_csv("C:\\Users\\giris\\Downloads\\dft-road-casualty-statistics-casualty-provisional-mid-year-unvalidated-2023.csv")
df.head()

,collision_index,collision_year,collision_reference,vehicle_reference,casualty_reference,casualty_class,sex_of_casualty,age_of_casualty,age_band_of_casualty,casualty_severity,pedestrian_location,pedestrian_movement,car_passenger,bus_or_coach_passenger,pedestrian_road_maintenance_worker,casualty_type,casualty_home_area_type,casualty_imd_decile,lsoa_of_casualty
0,2023010419171,2023,010419171,1,1,3,2,20,4,3,5,1,0,0,0,0,1,10,E01030370
1,2023010419183,2023,010419183,2,1,1,1,25,5,3,0,0,0,0,0,9,1,3,E01001546
2,2023010419183,2023,010419183,3,2,2,2,38,7,3,0,0,2,0,0,9,-1,-1,-1
3,2023010419189,2023,010419189,1,1,1,1,50,8,3,0,0,0,0,0,9,1,5,E01002443
4,2023010419191,2023,010419191,2,1,1,1,34,6,3,0,0,0,0,0,1,1,2,E01004679

In [8]:
df.describe()

,collision_year,vehicle_reference,casualty_reference,casualty_class,sex_of_casualty,age_of_casualty,age_band_of_casualty,casualty_severity,pedestrian_location,pedestrian_movement,car_passenger,bus_or_coach_passenger,pedestrian_road_maintenance_worker,casualty_type,casualty_home_area_type,casualty_imd_decile
count,62674.0,62674.000000,62674.000000,62674.000000,62674.000000,62674.000000,62674.000000,62674.000000,62674.000000,62674.000000,62674.000000,62674.000000,62674.000000,62674.000000,62674.000000,62674.000000
mean,2023.0,1.467562,1.374972,1.491177,1.358107,36.953697,6.315410,2.785046,0.808709,0.663369,0.224623,0.062338,0.037208,9.507643,1.049925,4.259980
std,0.0,4.849047,1.551044,0.737688,0.548781,19.805649,2.491679,0.438231,2.208673,2.041672,0.620338,0.484295,0.284849,16.671019,0.932578,3.221955
min,2023.0,1.000000,1.000000,1.000000,-1.000000,-1.000000,-1.000000,1.000000,-1.000000,0.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000
25%,2023.0,1.000000,1.000000,1.000000,1.000000,22.000000,5.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,2.000000
50%,2023.0,1.000000,1.000000,1.000000,1.000000,34.000000,6.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9.000000,1.000000,4.000000
75%,2023.0,2.000000,1.000000,2.000000,2.000000,51.000000,8.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9.000000,1.000000,7.000000
max,2023.0,992.000000,70.000000,3.000000,9.000000,102.000000,11.000000,3.000000,10.000000,9.000000,9.000000,9.000000,2.000000,98.000000,3.000000,10.000000

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62674 entries, 0 to 62673
Data columns (total 19 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   collision_index                     62674 non-null  object
 1   collision_year                      62674 non-null  int64
 2   collision_reference                 62674 non-null  object
 3   vehicle_reference                   62674 non-null  int64
 4   casualty_reference                  62674 non-null  int64
 5   casualty_class                      62674 non-null  int64
 6   sex_of_casualty                     62674 non-null  int64
 7   age_of_casualty                     62674 non-null  int64
 8   age_band_of_casualty                62674 non-null  int64
 9   casualty_severity                   62674 non-null  int64
 10  pedestrian_location                 62674 non-null  int64
 11  pedestrian_movement                 62674 non-null  int64
 12  car_passenger                       62674 non-null  int64
 13  bus_or_coach_passenger              62674 non-null  int64
 14  pedestrian_road_maintenance_worker  62674 non-null  int64
 15  casualty_type                       62674 non-null  int64
 16  casualty_home_area_type             62674 non-null  int64
 17  casualty_imd_decile                 62674 non-null  int64
 18  lsoa_of_casualty                    62674 non-null  object
dtypes: int64(16), object(3)
memory usage: 9.1+ MB